body {
	font-family: 'Open Sans', sans-serif;
	margin: 10px;
}

#alerts {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	margin-bottom: 10px;
	display: none;
}

.alert-title {
	font-size: 20px;
}

.alert {
	position: relative;
	border-bottom: 1px dashed grey;
	height: 22px;
}

.alert-header {
	border-bottom: 2px solid grey;
	height: 22px;
	margin-bottom: 10px;
}

.alert-time {
	position: absolute;
}

.alert-level {
	position: absolute;
	left: 60px;
}

.alert-name {
	position: absolute;
	left: 130px;
}

.alert-value {
	position: absolute;
	left: 450px;
}

.alert-last {
	border: none;
}

#group-list {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	margin-bottom: 10px;
	display: none;
}

.group-item {
	margin-right: 10px;
}

.group-item a {
	text-decoration: none;
}

#node-list {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	margin-bottom: 10px;
	display: none;
}

#node-list-table {
	border-collapse: collapse;
	width: 100%;
}

.node-item {
	position: relative;
	border-bottom: 1px dashed grey;
	height: 22px;
}

.node-item tr {
	border-bottom: 1px dashed grey;
}

.node-item-header {
	border-bottom: 2px solid grey;
	height: 22px;
	margin-bottom: 10px;
}

.node-item-header thead {
	border-bottom: 2px solid grey;
}

.node-item-last {
	border: none;
}

.node-id {
	width: 50px;
	text-align: left;
}

.node-group {
	width: 200px;
	text-align: left;
}

.node-name {
	width: 350px;
	text-align: left;
}

.node-link {
	text-align: left;
}

.node-link {
	text-decoration: none;
}

#info-list {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	display: none;
	margin-bottom: 10px;
}

.info-title {
	font-size: 22px;
	margin-bottom: 5px;
}

.info-item {
	position: relative;
	border-bottom: 1px dashed grey;
	height: 22px;
}

.info-item-header {
	border-bottom: 2px solid grey;
	height: 22px;
	margin-bottom: 10px;
}

.info-item-last {
	border: none;
}

.info-key {
	position: absolute;
	left: 0px
}

.info-link {
	position: absolute;
	left: 400px;
}

.info-link {
	text-decoration: none;
}

.ajax-loader {
	
}

#chart-display {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	display: inline-block;
}

.chart-wrapper {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	background-color: white;
}

.chart-header {
	margin-bottom: 10px;
}

.chart-title {
	font-size: 15px;
	float: left;
	margin-right: 10px;
}

.y-axis {
	float: left;
	width: 30px;
}

.chart-timeline {
	margin-left: 30px;
}

.chart {
	float: left;
}

.chart-clear {
	clear: both;
}