body {
	font-family: 'Open Sans', sans-serif;
	margin: 10px;
}

#node-list {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	margin-bottom: 10px;
	display: none;
}

.node-item {
	position: relative;
	border-bottom: 1px dashed grey;
	height: 22px;
}

.node-item-header {
	border-bottom: 2px solid grey;
	height: 22px;
	margin-bottom: 10px;
}

.node-item-last {
	border: none;
}

.node-id {
	position: absolute;
}

.node-name {
	position: absolute;
	left: 50px;
}

.node-link {
	position: absolute;
	left: 400px;
}

.node-link {
	text-decoration: none;
}

#info-list {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	display: none;
	margin-bottom: 10px;
}

.info-title {
	font-size: 22px;
	margin-bottom: 5px;
}

.info-item {
	position: relative;
	border-bottom: 1px dashed grey;
	height: 22px;
}

.info-item-header {
	border-bottom: 2px solid grey;
	height: 22px;
	margin-bottom: 10px;
}

.info-item-last {
	border: none;
}

.info-name {
	position: absolute;
}

.info-link {
	position: absolute;
	left: 400px;
}

.info-link {
	text-decoration: none;
}

.ajax-loader {
	
}

#chart-display {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	display: inline-block;
}

.chart-wrapper {
	padding: 10px;
	border: 1px solid grey;
	border-radius: 6px;
	background-color: white;
}

.chart-header {
	margin-bottom: 10px;
}

.chart-title {
	font-size: 15px;
	float: left;
	margin-right: 10px;
}

.y-axis {
	float: left;
	width: 30px;
}

.chart {
	float: left;
}

.chart-clear {
	clear: both;
}