{
	"host": "localhost",
	"port": 8080,
	"webpath": "http://localhost:8080",
	"auth": [["single_secret", "secret"]],
	"screens": {
		"main": [
			[["node-0", "CPU_Load"],["node-0", "Virtual_Memory"]],
			[["node-0", "Disk_Information"]]
		]
	}
}