{
	"name": "node-0",
	"server": "localhost:8080",
	"interval": 60,
	"auth": ["single_secret", "secret"],
	"data": [
		["CPU_Load", "cpu_percent"], 
		["Virtual_Memory", "virtual_memory"], 
		["Swap_Memory", "swap_memory"],
		["Google_Response_Time", "web_response_time", "http://google.com"],
		["Disk_Information", "all_disks"]
	]
}